/* css rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styles mobile */

.wrapper {
    background: dodgerblue;
    height: 100vh;
}

.container {
    background:  lightcoral;
    height: calc(100% - 80px);
    display: flex;
}

.left-menu {
    background: red;
    width: 40px;
}

.main-content {
    background: green;
    width: calc(100% - 40px);
}

.play-nav {
    background: #ccc;
    height: 80px;
}


@media screen and (min-width: 768px) {
    /*  dai 768px in su */
}
