/* css rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styles */

a {
    text-decoration: none;
    color: gray;
}

li {
    padding-bottom: 5px;
    padding-top: 5px;
}

.nav-list {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.white-font {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.logo {
    width: 120px;
    padding-top: 10px;
    padding-left: 10px;
}

.start-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 20px;
}

.left-menu {
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.play-nav {
    background-color: gray;
    height: 10vh;
}

/* responsive */
@media screen and (max-width: 480px) {

    .nav-list,
    .start-menu,
    .profile {
        display: none;
        width: 49px;
        height: 90vh;
    }

    .container {
        flex-wrap: wrap;
    }

    .left-menu {
        width: 10%;
        height: 100vh;
    }

    .logo {
        display: none;
    }

    .main-content {
        background-color: #12121d;
        height: 100vh;
        width: 90%;
    }

    .play-nav {
        background-color: #1d1d1d;
        height: 8vh;
        width: 100%;
    }
}