/* css rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* styles mobile */
.icon-menu {
    padding: 8px;
}

.profile {
    padding-top: 329px;
}

.profile-img {
    width: 20px;
    margin-left: 9px;
}

p {
    color: grey;
    font-style: bold;
}


i {
    padding-left: 12px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

h2 {
    color: white;
    padding: 20px;
}

input {
    height: 4px;
    background-color: gray;
    border-radius: 3%;
}

.volume-container input {
    height: 4px;
    background-color: gray;
    border-radius: 3%;
    width: 10px;
}

.volume-container {
    padding: 24px;
}

.player-time span {
    color: white;
    font-size: 9px;
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
    margin-top: 10px;
}

.wrapper {
    background: dodgerblue;
    height: 100vh;
}

.wrapper-footer {
    display: flex;
    flex-direction: row;
}

.favorite {
    display: flex;
    flex-direction: column;
    padding: 12px;
}


.container {
    background: lightcoral;
    height: calc(100% - 80px);
    display: flex;
}

.left-menu {
    background: black;
    width: 40px;
}

.main-content {
    background: #0f161a;
    width: calc(100% - 40px);
    overflow: auto;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 18px;
    gap: 2%;
    text-transform: uppercase;
    font-size: 13px;
}

.upgrade {
    background-color: #111016;
    color: white;
    padding: 7px;
    border-radius: 22px;
    border: 2px solid white;
}

.upgrade-bar {
    background-color: rgb(17, 16, 22);
    height: 70px;
    display: flex;
    justify-content: flex-end;
}

.upgrade-container {
    padding-top: 23px;
    margin-right: 25px;
}


.card img {
    width: 170px;
}

.card h3 {
    font-size: 15px;
    color: white;
    margin-top: 7px;

}

.card p {
    font-size: 10px;
}

.card-section p {

    font-size: 10px;
}

.grid-card {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.card {
    padding: 15px;
}

.favourite-artist {
    border-radius: 50%;
}


.play-nav {
    background: #242424;
    height: 80px;
}

.title-song {
    display: flex;
    gap: 5%;
    padding-left: 8px;
    width: 33%;
}

.img-player {
    width: 22px;
    padding-top: 100%;
}

.nome-brano {
    color: white;
    font-size: 9px;
    padding-top: 18px;
}

.volume-section {
    display: flex;

}






@media screen and (min-width: 580px) {
    .card {
        width: 50%;
    }

    .grid-card {
        padding-left: 0;
    }

    .card img {
        width: 157px;
    }

    .card p {
        margin-bottom: 15px;
    }

    .left-menu {
        width: 55%;
    }

    .menu-items {
        display: none;
    }

    .icon-menu-biglogo {
        width: 140px;
        padding: 15px;
    }

    .icon-left {
        width: 20px;
    }

    .icon-left-container {
        display: flex;
        color: grey;
        text-decoration: none;
    }

    .playlist-container {
        color: grey;

    }

    .playlist {
        margin-top: 50px;
        margin-left: 10px;
    }

    a {
        text-decoration: none;
        color: grey;
    }

    li {
        list-style: none;
        color: grey;
    }

    .profile {
        padding: 0;
        height: 25%;
    }

    .profile-container {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }

    .fa-square-plus {
        width: 30px;
    }


}