/* css rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styles */

a {
    text-decoration: none;
    color: gray;
}

.white-font {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.logo {
    width: 120px;
    padding-top: 10px;
    padding-left: 10px;
}

.start-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 20px;
}

.left-menu {
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}