/* css rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styles mobile */
.icon-menu {
    padding: 8px;
}

.profile {
    padding-top: 308px;
}

.profile-img {
    width: 20px;
  margin-left: 9px;
}


i {
    padding-left: 12px;
    padding-bottom: 10px;
}

.wrapper {
    background: dodgerblue;
    height: 100vh;
}

.container {
    background: lightcoral;
    height: calc(100% - 80px);
    display: flex;
}

.left-menu {
    background: black;
    width: 40px;
}

.main-content {
    background: #0f161a;
    width: calc(100% - 40px);
}

.upgrade-bar {
    background-color: rgb(17, 16, 22);
    height: 40px;
}

.play-nav {
    background: #242424;
    height: 80px;
}


@media screen and (min-width: 768px) {
    /*  dai 768px in su */
}